.hidden_lemma {
    display: inline;
    font-size: 8px;
    color: #bd2130
}


.visible_lemma {
    display: inline;
    color: #ef2130
}


.highlighted_lemma {
    display: inline;
    color: #ef2130
}