dj-database-url
Django
whitenoise
yandex.translate
gTTS
mutagen
spacy
git+https://github.com/ClaudeCoulombe/FrenchLefffLemmatizer.git
# after installing the ruquirements run following in the terminal: python -m spacy download fr
# after installing the ruquirements run following in the terminal: python -m spacy download --default-timeout=10000 en
# may need:
# nltk.download('punkt')
# nltk.download('stopwords')
