{% extends "base_generic.html" %}
{% load book_sound_to_url %}
{% load static %}
{% block content %}
  {% if perms.catalog.can_mark_returned %}
    <a href="{% url 'book_create' %}">Create</a> /
    <a href="{% url 'book_update' book.id %}">Update</a> /
    <a href="{% url 'book_delete' book.id %}">Delete</a>
    <br><br>
  {% endif %}
  <h1>Title: {{ book.title }}</h1>

  <p><strong>Author:</strong> <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>
  <p><strong>Genre:</strong>
    {% for genre in book.genre.all %}
      {{ genre }}
      {% if not forloop.last %}, {% endif %}
    {% endfor %}</p>
  <p><strong>Summary:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Source language:</strong> {{ book.source_language }}</p>
  <p><strong>Translation language:</strong> {{ book.translation_language }}</p>
  <p><strong>Sound:</strong>
    {% if book.sound %}
      <audio controls>
        <source src=
                "{% get_media_prefix %}{{ book.sound }}"
                type="audio/mp3">
        Your browser does not support the audio element.
      </audio>
    {% else %}
      no file
    {% endif %}
  </p>

  <p style="padding-bottom: 0px; padding-top:10px"><strong>Text:<br></strong></p>
  <p><pre> {{ book.text }} </pre></p>

  <p style="padding-bottom: 0px; padding-top:10px"><strong>Text with translation:<br></strong></p>
  <p><pre> {{ book.text_with_translation }} </pre></p>
  {% if book.translation_problems %}
    <strong class="text-danger" style="padding-bottom: 0px; padding-top:10px">Translation problems:</strong>
    <p><pre> {{ book.translation_problems }} </pre></p>
  {% endif %}

<!--  <div style="margin-left:20px;margin-top:20px">-->
<!--    <h4>Copies</h4>-->

<!--    {% for copy in book.bookinstance_set.all %}-->
<!--      <hr>-->
<!--      <p class="{% if copy.status == 'a' %}-->
<!--                  text-success-->
<!--                {% elif copy.status == 'm' %}-->
<!--                  text-danger-->
<!--                {% else %}-->
<!--                  text-warning-->
<!--                {% endif %}">-->
<!--        {{ copy.get_status_display }}-->
<!--      </p>-->
<!--      {% if copy.status != 'a' %}-->
<!--        <p><strong>Due to be returned:</strong> {{copy.due_back}}</p>-->
<!--      {% endif %}-->
<!--      <p><strong>Imprint:</strong> {{copy.imprint}}</p>-->
<!--      <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>-->
<!--    {% endfor %}-->
<!--  </div>-->
{% endblock %}
