{% extends "base_generic.html" %}
{% block content %}
  {% if perms.catalog.can_mark_returned %}
    <a href="{% url 'book-detail' pk=book.id %}">Book detail</a>
    <br><br>
  {% endif %}
  <h1>Title: {{ book.title }}</h1>

  <p><strong>Author:</strong> <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>

  <p style="padding-bottom: 0px; padding-top:10px"><strong>Text:<br></strong></p>
  <p>{{ book.text_deconjugated | safe }}</p>
  {% load static %}
  <script src="{% static 'catalog/js/parse.js' %}"></script>
{% endblock %}
